<div class="container">
    <div class="subContainer" >
        <form [formGroup]="form" style="width: 100%;">
            <mat-card appearance="outlined" style="border-radius: 10px; padding: 10px;">
                <mat-card-title>Modelos</mat-card-title>
                <div style="display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="form" style="width: 100%;">
                        <mat-card-title>{{modoEdicion? 'Editar Modelo' : 'Nuevo Modelo'}}</mat-card-title>
                            <div>   
                                <mat-form-field appearance="outline">
                                  <input matInput formControlName="nuevoNombre" placeholder="Nombre"> 
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="margin-left: 5px;">
                                  <mat-select formControlName="marca">
                                    <mat-option [value]="null"> Selecione una Marca </mat-option>
                                    <mat-option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                            <button mat-raised-button (click)="onGuardar()" color="primary" [disabled]="!form.valid">Guardar</button>
                            <button mat-raised-button (click)="onCancelar()" color="warn" style="margin-left: 10px;">Cancelar</button>
                    </div>
                    <div class="tabla" style="width: 100%;">
                        <mat-card-title>Consultar modelos:</mat-card-title>
                        <div style="display: flex;">
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="modeloConsultar.nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre" (keyup)="onConsultar()"> 
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="margin-left: 5px;">
                              <mat-select [(ngModel)]="modeloConsultar.marca" [ngModelOptions]="{standalone: true}">
                                <mat-option [value]="null"> Selecione una Marca </mat-option>
                                <mat-option *ngFor="let marca of marcas" [value]="marca">{{ marca.nombre }}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <button mat-icon-button matTooltip="Buscar" (click)="onConsultar()">
                              <mat-icon>search</mat-icon>
                            </button>
                        </div>
                        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <!-- Columna Nombre -->
                            <ng-container matColumnDef="nombre">
                              <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                              <mat-cell *matCellDef="let elemento"> {{ elemento.nombre }} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="marca">
                              <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
                              <mat-cell *matCellDef="let elemento"> {{ elemento.marca.nombre }} </mat-cell>
                            </ng-container>
                          
                            <!-- Columna Acciones -->
                            <ng-container matColumnDef="acciones">
                              <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                              <mat-cell *matCellDef="let elemento">
                                <button mat-icon-button matTooltip="Editar" (click)="onEditar(elemento)">
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Eliminar" (click)="onEliminar(elemento.id)">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </mat-cell>
                            </ng-container>
                          
                            <!-- Define las columnas de la tabla -->
                            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
                          </mat-table>
                    </div>
                </div>
                
                
            
                
                <div>
                    
                    
                </div>
                <!-- <button mat-raised-button (click)="onConsultar()" color="primary">consultar</button> -->
            </mat-card>
        </form>
    </div>
</div>

