<div class="container" style="display: flex; flex-direction: column; justify-content: flex-start;">
  <mat-toolbar color="primary" style="vertical-align: middle;"><button style="margin-right: 5px;" mat-button (click)="toggleSidenav()"><span class="material-symbols-outlined" style="vertical-align: middle;">home</span></button>
    <span (click)="openHome()" style="cursor: pointer;">Taller Mecánico</span>
  </mat-toolbar>
    <mat-sidenav-container style="width: 100%;height: 100%">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav"> 
        <div class="side-nav-container" style="margin: 10px">
            <button mat-flat-button class="example-icon" (click)="openClientes()">
              <mat-icon>people</mat-icon>
              Clientes
            </button>
            <button mat-flat-button class="example-icon" (click)="openTecnico()">
              <mat-icon>people</mat-icon>
              Tecnicos
            </button>
            <button mat-flat-button class="example-icon" (click)="openVehiculo()">
              <mat-icon>directions_car</mat-icon>
              Vehiculos
            </button>
            <button mat-flat-button class="example-icon" (click)="openMarca()">
              <mat-icon>label</mat-icon>
              <span>Marcas</span>
            </button>
            <button mat-flat-button class="example-icon" (click)="openModelo()">
              <mat-icon>label</mat-icon>
              Modelos
            </button>
            <button mat-flat-button class="example-icon" (click)="openServicio()">
              <mat-icon>label</mat-icon>
              Servicios
            </button>
        </div>
      </mat-sidenav>
      
      <mat-sidenav-content>
        <div style="margin: 10px;">
          <router-outlet></router-outlet>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>

  <mat-toolbar></mat-toolbar>
</div>