<div class="container">
    <div class="subContainer" >
       <h1>Gestionar ordenes de trabajo</h1>
       <div style="display: flex;">
            <button mat-raised-button (click)="setVista('CREAR')" color="primary" > Crear Orden </button>
            <button mat-raised-button (click)="setVista('CONSULTAR')" color="warn" style="margin-left: 10px;"> Consultar Ordenes </button> 
       </div>

       <mat-card style="margin-top: 20px;">

            <mat-card-content *ngIf=" vista == 'CONSULTAR' ">
                <app-orden-edit  [dataSourceOrdenes]="dataSourceOrdenes"  (editarClicked)="editar($event)" (actualizarOrdenes)="getAllOrdenes()"></app-orden-edit>
            </mat-card-content>

            <mat-card-content *ngIf="vista == 'CREAR' || vista == 'EDITAR' ">
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <mat-card-title> {{vista == 'CREAR'? 'Nueva orden' : 'Editar orden'}}</mat-card-title>
                    <h4 *ngIf="vista == 'CREAR'"> Fecha: {{ fechaActual | date:"dd/MM/yyyy"}}</h4>
                    <h4 *ngIf="vista == 'EDITAR'"> Fecha: {{orden?.fechaIngreso | date:"dd/MM/yyyy"}}</h4>
                </div>
                <form [formGroup]="formularioOrden" >
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div style="width: 40%;">
                            <mat-form-field style="width: 100%;" *ngIf="vista == 'CREAR'">
                                <mat-select placeholder="Cliente" formControlName="cliente" (selectionChange)="getAllVehiculos()">
                                <mat-option *ngFor="let cliente of dataClientes" [value]="cliente" (click)="setCliente(cliente)">
                                    {{ cliente.apellido + ', ' + cliente.nombre }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field style="width: 100%;" *ngIf="vista == 'EDITAR'">
                                <input matInput  [value]="clienteSeleccionado?.nombre + ', ' + clienteSeleccionado?.apellido" [disabled]="true">
                            </mat-form-field>
                        
                            <div class="infoVehiculo" *ngIf="clienteSeleccionado!=null" style="width: 100%;">
                                <mat-form-field style="width: 100%;" *ngIf="vista == 'CREAR'">
                                    <mat-select placeholder="Vehiculo"  formControlName="vehiculo">
                                    <mat-option *ngFor="let vehiculo of dataVehiculos" [value]="vehiculo" (click)="setVehiculo(vehiculo)">
                                        {{ vehiculo.patente + ', ' + vehiculo.marca.nombre + ' ' + vehiculo.modelo.nombre }}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="vehiculoSeleccionado != null || vehiculoSeleccionado != undefined">
                                    <div><h4>Datos del Vehiculo:</h4></div> 
                                    <div  style="display: flex; flex-direction: row;">
                                        <table>
                                            <tr>
                                                <td>Marca: </td>
                                                <td>{{vehiculoSeleccionado.marca.nombre}}</td>
                                            </tr>
                                            <tr>
                                                <td>Modelo: </td>
                                                <td>{{vehiculoSeleccionado.modelo.nombre}}</td>
                                            </tr>
                                            <tr>
                                                <td>Patente: </td>
                                                <td>{{vehiculoSeleccionado.patente}}</td>
                                            </tr>
                                            <tr>
                                                <td>Kilometraje: </td>
                                                <td>{{vehiculoSeleccionado.kilometraje}}</td>
                                            </tr>
                                        </table>

                                        <div *ngIf="vista == 'CREAR'">
                                            <button mat-icon-button (click)="deleteVehiculo()" color="red" > <mat-icon>delete</mat-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="servicios" style="width: 40%;">
                            <div >
                                <mat-form-field style="width: 100%;">
                                    <mat-select placeholder="Tecnico" formControlName="tecnico" >
                                    <mat-option *ngFor="let tecnico of dataTecnicos"  [value]="tecnico" (click)="setTecnico(tecnico)">
                                        {{ tecnico.apellido + ', ' + tecnico.nombre }}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; align-content: center;">
                                <mat-form-field style="width: 100%;">
                                    <mat-select placeholder="Servicio" formControlName="servicio">
                                    <mat-option *ngFor="let servicio of dataServicios" [value]="servicio">
                                        {{ servicio.nombre}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>               
                                <mat-icon style="margin: 2px" matTooltip="Añadir" (click)="addServicio()">add</mat-icon>
                            </div>
                            <div style="width: 100%;">
                                <mat-table [dataSource]="dataSourceServicios" class="mat-elevation-z8">
                                    <ng-container matColumnDef="nombre">
                                        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                                        <mat-cell *matCellDef="let elemento"> {{ elemento.nombre }} </mat-cell>
                                    </ng-container>
                                    <!--<ng-container matColumnDef="descripcion">
                                        <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                                        <mat-cell *matCellDef="let elemento"> {{ elemento.descripcion }} </mat-cell>
                                    </ng-container>-->
                                    <ng-container matColumnDef="precio">
                                        <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                                        <mat-cell *matCellDef="let elemento; let i = index">
                                            <mat-form-field style="width: 100%;">
                                                <input matInput type="number" [value]="getPrecio(elemento, i)" [disabled]="false" (change)="onPrecioChange($event, i)">
                                            </mat-form-field>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="acciones">
                                        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                                        <mat-cell *matCellDef="let elemento">
                                          <button mat-icon-button matTooltip="Eliminar" (click)="removeServicio(elemento.id)">
                                            <mat-icon>delete</mat-icon>
                                          </button>
                                        </mat-cell>
                                    </ng-container>
                                  
                                  
                                    <!-- Define las columnas de la tabla -->
                                    <mat-header-row *matHeaderRowDef="columnasServicios"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: columnasServicios;"></mat-row>
                                  </mat-table>  
                            </div>
                            <h2 style="margin-top: 10px; text-align: center;">Total: $ {{total}}</h2>
                        </div>
                    </div>
                    <div>
                        <mat-form-field style="width: 100%;">
                            <mat-label>Descripcion del Trabajo</mat-label>
                            <textarea matInput formControlName="descripcion"></textarea>
                          </mat-form-field>
                    </div>
                </form>
                <button mat-raised-button (click)="guardarOrdentrabajo()" color="primary">Guardar</button>
            </mat-card-content>
       </mat-card>
    </div>
</div>

 