.container{
    display: flex;
    justify-content: center;
}

.subContainer{
    width: 80vw;
    height: 80vh;
}

mat-header-cell{
    height: 100px;
}

div mat-form-field{
    margin-right: 5px;
    width: 100%;
}

.mat-card-button {
    cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta (botón) */
}

.tarjeta-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; /* Ajusta el espaciado según sea necesario */
}

.columna-titulo {
    flex: 1; /* Toma el 50% del espacio disponible */
}

.columna-icono {
    flex-shrink: 0; /* No se reduce en tamaño */
    margin-left: 10px; /* Ajusta el espaciado entre el título y el icono */
}
  