<div class="container">
  <div class="subContainer" >
    <div style="padding: 10px;">
      <h2>Home</h2>
      <mat-card (click)="openGestionOrden()" class="mat-card-button" style="width: 50%;">
        <mat-card-content class="tarjeta-contenido">
          <!-- Columna del título -->
          <div class="columna-titulo">
            <h2>Gestionar ordenes de Trabajo</h2>
          </div>
          
          <!-- Columna del icono -->
          <div class="columna-icono">
            <mat-icon style="text-align-last: justify;">fact_check</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>





