<div style="width: 50vw; height: fit-content">
  <div style="display: flex; justify-content: center; align-content: center">
    <mat-card style="height: 100%; width: 100%">
      <button
        mat-icon-button
        matTooltip="cerrar"
        (click)="onNoClick()"
        style="float: left; margin-left: 20px; margin-top: 20px"
        class="icon-display"
      >
        <mat-icon>close</mat-icon>
      </button>

      <mat-card-content>
        <div>
          <div class="dialogo">
            <div *ngIf="data.tipo == 'error'">
              <img
                src="../../../assets/acceso-denegado.svg"
                alt=""
                class="dialogo__img"
              />
            </div>
            <div *ngIf="data.tipo == 'normal'">
              <img
                src="../../../assets/ilustracion2.svg"
                alt=""
                class="dialogo__img"
              />
            </div>

            <div class="dialogo-mensaje">
              {{ data.mensaje }}
            </div>
            <div style="display: flex; justify-content: end">
              <button
                *ngIf="data.textoAceptar"
                mat-raised-button
                (click)="onAceptClick()"
                style="margin: 5px"
              >
                {{ data.textoAceptar }}
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="onNoClick()"
                style="float: left"
                class="icon-display"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
