HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Maven
target/
*.jar
*.war
*.ear
*.class

# Spring Boot
.spring-boot-actuator/
.spring-boot-devtools/
.springBeans
build/
.idea/
*.iml
target/
logs/
*.log

# Node.js / npm
node_modules/
npm-debug.log
yarn-error.log

# Angular
/dist/
/node_modules/
/.angular-cli.json
/karma.conf.js
/protractor.conf.js
/package-lock.json
# PostgreSQL / pgAdmin
*.sql
*.dump
*.conf
/data/


# Apache HTTP Server
httpd.conf
*.conf
/logs/
/modules/